////////////////////////////////
//     Orders
////////////////////////////////
$orders-bg: #c83c3c
$orders-heading: #fff
$orders-subheading: darken($orders-bg, 50)
$orders-item__bg: lighten($orders-bg, 50)
$orders-item__border: darken($orders-bg, 25)
$orders-action__bg: #fff

////////////////////////////////
//     Meals
////////////////////////////////
$meals-bg: #f7f7f7
$meals-heading: #606060
$meals-info: lighten($meals-heading, 50)
$meals-item__bg: #fff
$meals-item__border: lighten($meals-heading, 25)

