<section class="orders">

  <header>
    <h1>Your Order</h1>
    <h2>A Delicios Restaurant</h2>
  </header>

  <button>It's time to order some delicios food</button>

  <label>3 mains</label>
  <ul>
    <li>
      <h4>Seafood Sauce</h4>
      <h5>- chili</h5>
      <input type="number" min="0" name="">
      <button>+1</button>
      <button>-1</button>
    </li>
    <li>
      <h4>Fusilli goat cheese and spinach</h4>
      <h5>- chili</h5>
      <input type="number" min="0" name="">
      <button>+1</button>
      <button>-1</button>
    </li>
    <li>
      <h4>Fusilli goat cheese and spinach Fusilli goat cheese and spinach Fusilli goat cheese and spinach</h4>
      <h5>- chili</h5>
      <input type="number" min="0" name="">
      <button>+1</button>
      <button>-1</button>
    </li>
  </ul>

  <label>1 other</label>
  <ul>
    <li>
      <h4>Seafood Sauce</h4>
      <h5>- chili</h5>
      <input type="number" min="0" name="">
      <button>+1</button>
      <button>-1</button>
    </li>
  </ul>

  <footer>
    <button>Confirm Your Order</button>
    <label>£33.33</label>
  </footer>

</section>

<section class="meals">

  <header>
    <h1 class="restaurant">Your Delicios Restaurant</h1>
  </header>

  <ul>
      <li class="meals-item" ng-repeat="meal in menu.meals track by meal.id">
          <h4 class="meals-item__name">{{meal.name}}</h4>
          <img class="meals-item__image" ng-src="{{meal.primaryImageUrl}}">
          <p class="meals-item__description">{{meal.description}}</p>
          <p class="meals-item__price">{{meal.price}}</p>
      </li>
  </ul>

</section>
